﻿<!DOCTYPE html>
<html lang="en" ng-app="PhotogramApp">
<head>
    <title>Photogram - @ViewBag.Title</title>
    <link rel="icon" href="~/Content/Template/images/favicon.png" type="image/x-icon" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS -->
    <link href="~/Content/Template/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Template/css/style.css" rel="stylesheet">
    <link href="~/Content/Template/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="wrapper">
        <div class="box">
            <div class="row row-offcanvas row-off canvas-right">

                <!-- main column -->
                <div class="column col-sm-12 col-xs-12" id="main">

                    <!-- top nav -->
                    <div class="navbar navbar-white navbar-static-top">
                        <div class="navbar-header">
                            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a href="#/" class="navbar-brand logo"></a>
                        </div>
                        <nav class="collapse navbar-collapse" role="navigation">

                            @Html.Partial("_LoginPartial")  <!-- Register & Login -->

                            <!-- Menu items -->
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="#/"><i class="fa fa-instagram"></i>&nbsp; Home</a>
                                </li>
                                <li>
                                    <a href="#postModal" role="button" data-toggle="modal"><i class="fa fa-plus-circle"></i>&nbsp; Post</a>
                                </li>
                            </ul><!--/Menu items -->

                            <!-- Search box -->
                            <form class="navbar-form navbar-right" id="searchBox" ng-model="searchBox">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </form><!-- /Search box -->

                        </nav>
                    </div><!-- /top nav -->


                    <div class="padding">
                        <div class="full col-sm-9">

                            <div class="col-sm-2"></div>  <!-- empty div used to center next, content div -->
                            <!-- content -->
                            <div class="col-sm-8">
                                @RenderBody()
                            </div><!--/content-->
                            <!--Footer-->
                            <div class="row" id="footer">
                                <div class="col-sm-4">
                                    <a href="#"><i class="fa fa-twitter"></i>&nbsp; Twitter</a> <small class="text-muted">|</small>
                                    <a href="#"><i class="fa fa-facebook"></i>&nbsp; Facebook</a> <small class="text-muted">|</small>
                                    <a href="#"><i class="fa fa-google-plus"></i>&nbsp; Google+</a>
                                </div>

                                <div class="col-sm-8">
                                    <p> Copyright © Ivan Lovrić & Mavro Božičević @DateTime.Now.Year </p>
                                </div>
                            </div><!--/Footer-->

                        </div><!-- /full col-9 -->
                    </div><!-- /padding -->
                </div><!-- /main -->

            </div>
        </div>
    </div>

    <!--Post modal window-->
    <div id="postModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        @model Photogram.Data.Image
        <div class="modal-dialog">
            @using (Html.BeginForm("UploadPhoto", "Home", FormMethod.Post, new { enctype = "multipart/form-data", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        Upload Photo
                    </div>
                    <div class="modal-body">
                        <form class="form center-block">
                            <div class="form-group">
                                <textarea class="form-control input-lg" autofocus="" placeholder="What do you want to share?"></textarea>
                            </div>
                        </form>

                        <input type="file" name="photo" /> <!-- OpenFile Dialog -->

                    </div>  
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary btn-sm" value="Post" />
                        <ul class="pull-left list-inline"><li><a href=""><i class="fa fa-upload"></i></a></li><li><a href=""><i class="fa fa-camera"></i></a></li><li><a href=""><i class="fa fa-map-marker"></i></a></li></ul>
                    </div>
                </div>
            }
        </div>
    </div><!--/post modal-->

    <!-- JS -->
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    @Scripts.Render("~/bundles/angularJS")
    @Scripts.Render("~/bundles/customJS")
    <script src="~/Scripts/bootstrap.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
