﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

     <!-- Profile -->
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>&nbsp; @User.Identity.GetUserName()</a>
            <ul class="dropdown-menu">
                <li><a href="#/Profile/@User.Identity.GetUserId()"><i class="fa fa-edit"></i>&nbsp; Profile</a></li>
                <li><a href="#/"><i class="fa fa-gears"></i>&nbsp; Settings</a></li>
                <li class="divider"></li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-power-off"></i>&nbsp;Logout</a></li>
            </ul>
        </li>
    </ul><!--/Profile -->
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
