﻿<div ng-controller="HomePageController">
    <!-- Update-status panel -->
    <div class="well">
        <form class="form-horizontal" role="form">
            <h3>What's new?</h3>
            <div class="form-group" style="padding:14px;">
                <textarea class="form-control" placeholder="Update your status"></textarea>
            </div>
            <button class="btn btn-primary pull-right" type="button">Post</button><ul class="list-inline"><li><a href=""><i class="fa fa-upload"></i></a></li><li><a href=""><i class="fa fa-camera"></i></a></li><li><a href=""><i class="fa fa-map-marker"></i></a></li></ul>
        </form>
    </div><!--/Update-status panel-->
 
    <!--Post-->
    <div class="panel panel-default" ng-repeat="image in images | filter:searchBox">
        <div class="panel-heading">
            <a href="#/Profile/{{image.UserId}}"><img ng-src="{{image.Avatar}}" class="img-circle pull-left"></a>
                <h4> <a href="#/Profile/{{image.UserId}}">{{image.UserName}}</a> <a href="#/" class="pull-right">{{image.DateCreated}}</a> </h4>
        </div>
        <div class="panel-body">
            <div class="clearfix"></div>
            <hr> <div class="panel-thumbnail"><img ng-src="{{image.Path}}" class="img-responsive"></div> <hr>

            <!--Likes & Location-->
            <h4 ng-show="image.PartialLikes.length > 0"> Likes: <a href="{{'#/#likersModal-' + $index}}" data-toggle="modal">{{image.PartialLikes.length}}</a> <a href="#" class="pull-right">{{image.LocationName}}</a>  </h4>

            <!--Comments-->
            <div ng-repeat="comment in image.PartialComments">
            
                <div>
                    <a href="#/Profile/{{comment.Id}}"><img ng-src="{{comment.Avatar}}" class="commentator"></a>
                        <span>{{comment.Content}}</span>
                        <span ng-repeat="tag in comment.Hashtags" class="hashtag"> {{tag.Tag}} </span>
                </div>
                <hr />
            </div>


            <!--Add like or comment form-->
            <form>
                <div class="input-group">
                    <div class="input-group-btn">
                        <button class="btn btn-default" ng-click="AddLike($index)"><i class="fa fa-heart"></i></button>
                    </div>
                    <input type="text" class="form-control" placeholder="Add a comment.." ng-model="commentContent" />
                    <div class="input-group-btn">
                        <input type="button" class="btn btn-default" value="Comment!" ng-click="AddUpdateComment(commentContent, $index)" />
                    </div>
                </div>
            </form>
        </div>

        <!--People who like modal window-->
        <div id="{{'likersModal-' + $index}}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        Users who like this
                    </div>
                    <div class="modal-body">
                        <a href="#/Profile/{{like.UserId}}" ng-repeat="like in image.PartialLikes" class="userInModal">{{like.UserName}} </a>
                    </div>
                </div>
            </div>
        </div>
        <!--/People who like modal window-->


    </div><!--/Post-->

    
</div>