﻿<div ng-controller="UserProfileController">
    <!-- Update-status panel -->
    <div class="well">
        <div class="row">
            <div class="col-md-6">
                <img ng-src="{{profile.Avatar}}" alt="Image" class="profileImage pull-left" />
            </div>
            <div class="col-md-2">
                <h3><strong>{{profile.PartialImages.length}}</strong></h3>
                <h3>Posts</h3>
            </div>
            <div class="col-md-2">
                <h3><strong><a href="#/Profile/{{profile.UserId}}#followersModal" data-toggle="modal">{{profile.Followers.length}}</a></strong></h3>
                <h3>Followers</h3>
            </div>
            <div class="col-md-2">
                <h3><strong><a href="#/Profile/{{profile.UserId}}#followingsModal" data-toggle="modal">{{profile.Followings.length}}</a></strong></h3>
                <h3>Following</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <h3>{{profile.UserName}}</h3>
            </div>
            <div class="col-md-5 profileButtonDiv">
                <a href="#/"><input type="button" value="EDIT YOUR PROFILE" id="editProfile" class="btn btn-default" /></a>
            </div>
            <div class="col-md-5 profileButtonDiv">
                <button ng-click="AddFollow(profile.UserId)" class="btn btn-default">FOLLOW THIS USER</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>{{profile.Status}}</p>
            </div>
        </div>
    </div><!--/Update-status panel-->

    <!--Post-->
    <div id="profile-images" ng-repeat="image in profile.PartialImages | filter:searchBox">
       

        <div>
           <img ng-src="{{image.Path}}" class="img-responsive">
        </div>
    </div><!--/Post-->

    <!--Followers modal window-->
    <div id="followersModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    Followers
                </div>
                <div class="modal-body">
                    <a href="#/Profile/{{follower.Id}}" ng-repeat="follower in profile.Followers" class="userInModal">{{follower.UserName}} </a>
                </div>
            </div>
        </div>
    </div>
    <!--/Followers modal window-->

    <!--Followings modal window-->
    <div id="followingsModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    Following
                </div>
                <div class="modal-body">
                    <a href="#/Profile/{{following.Id}}" ng-repeat="following in profile.Followings" class="userInModal">{{following.UserName}} </a>
                </div>
            </div>
        </div>
    </div>
    <!--/Followings modal window-->
    
   
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".modal-backdrop").remove();
    });  
</script>