/* custom template by Ivan Lovric - ilovri00@fesb.hr */
html, body {
   height: 100%;
   font-family:verdana,arial,sans-serif;
   color:#2a6496;
}

.nav {
   font-family: verdana,arial,sans-serif;
   font-size: 18px;
}

a {
  color:#222222;
}

a:hover {
  text-decoration:none;
}

hr {
  margin-top: 2px;
  margin-bottom: 2px;
  border: 0;
}

#searchBox{
	width: 250px;
	margin-top: 12px;
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom:1;
}

.column .padding {
    padding: 20px;
}

.full{
	padding-top:70px;
}

.box {
  	bottom: 0; /* increase for footer use */
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color:#444444;
}

.divider {
	margin-top:32px;
}

.navbar-white {
    border-width:15px;
	border-bottom: #ff0000;
	background-color:#ffffff;
    color:#2a6496;
    font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    top:0;
    position:fixed;
    width:inherit;
}

.navbar-white li > a,.navbar-toggle  {
   color:#2a6496;
}

.nav>li {
    margin-right: 30px;
}

.navbar-white .dropdown-menu li a {color:#2A4888;}
.navbar-white .dropdown-menu li > a {padding-left:30px;}

.navbar-white li>a:hover, .navbar-white li>a:focus, .navbar-white .open, .navbar-white .open>a, .navbar-white .open>a:hover, .navbar-white .open>a:focus {
   background-color:#2A4888;
   color:#fff;
}

#main {
   background-color:#e9eaed;
   padding-left:0;
   padding-right:0;
}

#main .img-circle {
   margin-top:5px;
   margin-right:8px;
   height:64px;
   width:64px;
}

.commentator {

   margin-right:10px; 
   height:32px;
   width:32px;
}

.hashtag {
    color: #3e7aad;
}

img{
	margin: auto;
}

#sidebar {
    padding:0px;
	padding-top:15px;
}

#sidebar, #sidebar a, #sidebar-footer a {
    color:#ffffff;
    background-color:transparent;
	text-shadow:0 0 2px #000000;
    padding-left:5px;
}
#sidebar .nav li>a:hover {
    background-color:#393939;
}

.logo {
  display:block;
  padding:3px;
  background: url("../images/logo.jpg") no-repeat scroll 0 0 transparent;

  height:48px;
  width:197px;
  margin:9px;
  margin-right:2px;
  margin-left:15px;
  font-size:20px;
  font-weight:700;
  text-align:center;
  text-decoration:none;
  text-shadow:0 0 1px;
  border-radius:2px;
}
#sidebar-footer {
  background-color:#444;
  position:absolute;
  bottom:5px;
  padding:5px;
}
#footer {
  margin-bottom:20px;
}

/* bootstrap overrides */

h1,h2,h3 {
   font-weight:400;
}

h4{
	margin-left: 50px;
    margin-top: 18px;
    margin-bottom: 18px;
}

h4 > a{
	font-weight:bold;
	color:#2a6496;
}

.navbar-toggle, .close {
	outline:0;
}

.navbar-toggle .icon-bar {
	background-color: #2a6496;
}

.btn-primary,.label-primary,.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus  {
	background-color:#3B5999;
    color:#fffffe;
}
.btn-default {
    color:#666666;
    text-shadow:0 0 1px rgba(0,0,0,.3);
}
.form-control {
	
}

.panel textarea, .well textarea, textarea.form-control
{
   resize: none;
}
  
.badge{
   color:#3B5999;
   background-color:#fff;
}
.badge:hover, .badge-inverse{
   background-color:#3B5999;
   color:#fff;
}
    
.jumbotron {
  background-color:transparent;
}
.label-default {
  background-color:#dddddd;
}
.page-header {
  margin-top: 55px;
  padding-top: 9px;
  border-top:1px solid #eeeeee;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:2px;
}

.panel-default .panel-heading {
  background-color:#f9fafb;
  color:#2a6496;
  height: 100px;
}

.col-sm-9.full {
    width: 100%;
}

.modal-header, .modal-footer {
	background-color:#f2f2f2;
    font-weight:800;
    font-size:12px;
}

.modal-footer i, .well i {
    font-size:20px;
    color:#c0c0c0;
}

.modal-body {
	padding:0px;
}

.modal-body textarea.form-control
{
   resize: none;
   border:0;
   box-shadow:0 0 0;
}

small.text-muted {
  font-family:courier,courier-new,monospace;
}

/* adjust the contents on smaller devices */
@media (max-width: 768px) {

  .column .padding {
    padding: 7px;
  }

  .full{
	padding-top:20px;
  }

  .navbar-white {
	background-color:#fff;
    top:0;
    width:100%;
    position:relative;
  }

}


/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left.active {
    left: 33%;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -33%;
    position: absolute;
    top: 0;
    width: 33%;
    margin-left: 5px;
  }

  #sidebar, #sidebar a, #sidebar-footer a {
    padding-left:3px;
  }
}


#profile-images{
    position: relative;
     display: inline-block;
     margin: 10px;
     width: 30.5%;
}

#profile-images:before {
    content:     "";
    display:     block;
    padding-top: 100%; /* initial ratio of 1:1*/
}

#profile-images img{
     position: absolute;
    top:      0;
    left:     0;
    bottom:   0;
    right:    0;
}
    
.profileImage {
    max-height: 200px;
    max-width: 200px;
}

.userInModal{
    padding: 6px;
    display: block;
    color: #2a6496;
}

.profileButtonDiv{
    padding-top: 10px;
}